.nav{
  display:flex;
  justify-content: space-between;
  background-color:#053B47 ;  
  align-items: center;
  position:sticky;
  top:0;
  height:60px;
  box-sizing: border-box;
}

nav ul{
  list-style: none;
}
.navBar{
  display:flex;
  gap:2rem;
  
}

.active-Link{
    color:aliceblue;
    text-decoration: none;
}

.cart1{
  box-sizing: border-box;
  margin-top:45px;
}

.cart-num{
    color:aliceblue;
    background:blue;
    padding:5px;
    border-radius: 50%;
    position:relative;
    left:0.5cm;
    bottom:1.2cm;
    font-weight: 700;
}
